    img {
      height: 160px;
      width: 120px;
    }

    /* ----- 2D ----- */

    /* Rotate */

    .rotate-by-deg {
      transform: rotate(45deg);
    }

    .rotate-by-rad {
      transform: rotate(-1rad);
    }

    .rotate-by-turn {
      transform: rotate(0.3turn);
    }

    body {
      padding: 2rem;
      display: flex;
      flex-direction: column;
    }

    p {
      margin-bottom: 16px;
    }

    div,
    *+p {
      margin-top: 1.5rem;
    }

    /* Scale */

    .scaleX {
      transform: scaleX(0.25);
    }

    .scaleY {
      transform: scaleY(1.5);
    }

    .scaleXY {
      transform: scale(0.25, 1.5);
    }

    .scale {
      transform: scale(0.5);
    }

    body {
      padding: 2rem;
      display: flex;
      flex-direction: column;
    }

    p {
      margin: 24px 0px 16px;
    }

    /* Skew */

    .skewX {
      transform: skewX(45deg);
    }

    .skewY {
      transform: skewY(-0.5rad);
    }

    .skewXY {
      transform: skew(45deg, -0.5rad);
    }

    .skew {
      transform: skew(45deg);
    }

    body {
      padding: 2rem;
      display: flex;
      flex-direction: column;
    }

    p {
      margin: 0;
    }

    div {
      background: #cc9543;
      width: 50px;
      height: 50px;
    }

    div,
    *+p {
      margin-top: 1.5rem;
    }

    /* Translate */

    .translateX {
      transform: translateX(20px);
    }

    .translateY {
      transform: translateY(-33%);
    }

    .translateXY {
      transform: translate(20px, -33%);
    }

    body {
      padding: 2rem;
      display: flex;
      flex-direction: column;
    }

    div {
      border: 1px solid black;
      margin-right: auto;
      padding: 24px;
    }

    p {
      margin: 12px 0 24px;
    }

    /* Chaining Multiple Transforms */

    .red-box,
    .blue-box {
      position: absolute;
      width: 100px;
      height: 100px;
    }

    .red-box {
      background: red;
      transform: rotate(45deg) translate(200%);
    }

    .blue-box {
      background: blue;
      transform: translate(200%) rotate(45deg);
    }

    /* Rotate Specific Axis */

    .rotateX {
      transform: rotateX(60deg);
    }

    .rotateY {
      transform: rotateY(60deg);
    }

    .rotateZ {
      transform: rotateZ(60deg);
    }

    body {
      padding: 2rem;
      display: flex;
      flex-direction: column;
    }

    p {
      margin-bottom: 16px;
    }

    div,
    *+p {
      margin-top: 1.5rem;
    }

    /* Translate Specific Axis */

    .translate30 {
      transform: perspective(100px) translateZ(30px);
    }

    .translate-100 {
      transform: perspective(100px) translateZ(-100px);
    }

    .translate-200 {
      transform: perspective(100px) translateZ(-200px);
    }

    body {
      padding: 2rem;
      display: flex;
      flex-direction: column;
    }

    p {
      margin-bottom: 16px;
    }

    div,
    *+p {
      margin-top: 1.5rem;
    }